/**
 * CSS custom stylesheet
 *
 * Rename this file, `custom_sample.css` to `custom.css` so it gets loaded automatically.
 *
 * Place here your own custom CSS rules.
 *
 * @package Student ID Card module
 */

:root {
    /* Portrait/vertical badge format */
    /* 3.370in 1.5:1 ratio */
    --card_height: calc(324px * 1.5);
    /* 2.125in 1.5:1 ratio */
    --card_width: calc(204px * 1.5);
}

.student-id-card-text {
    /* Text will be over photo */
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
}

.student-id-card-photo {
    /* Center photo */
    text-align: center;
    /* Round photo (image file must have square dimensions) */
    border-radius: 50%;
}
